{% extends "static/base_dash.html" %}

{% load staticfiles %}

{% block body %}

    <div class="container">

        <div class="templatemo-content">

            <div style="padding-top: 15px;">

                <h1 style="text-align: center">hello</h1> <br>

            </div><!--page-header-->

            <div class="row">

                {% for item in object_list %}

                    {{item.name}}

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock body %}